{% load static %}
<HTML DOCTYPE!>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'homestyle.css' %}">
    </head>
    <body>
        <div id="header">
            <div class="container">
                <nav>
                    <img src="/static/images/sggs_logo.jpeg" class="logo" alt="Logo">
                    <ul id="sidemenu">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'studentinfo' %}">StudentInfo</a></li>
                        <li><a href="{% url 'admissioninfo' %}">Admission</a></li>
                        <li><a href="{% url 'marksinfo' %}">Marks</a></li>
                        <li><a href="{% url 'feedback' %}">Feedback</a></li>
                        <li><a href="{% url 'logout' %}" class="btn">Log out</a></li>

                    
                </nav>
                <div class="header-text">
                    <h1><span>Student Management System</span></h1>
                    <p>SGGS Nanded</p>
                </div>
            </div>
        </div>
    
        
        <script src="" async defer></script>
    </body>
</html>